      .send-button {
        background-color: rgb(25,135,84);
        color: white;
        border: none;
        padding: 12px 20px;
        margin-left: 10px;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;
      }
      .chat-input {
      /* padding: 12px 20px; */
      /* margin: 10px 0; */
      border: 1px solid #a5a3a3;
      border-width: 1px;
      border-radius: 10px;
      font-size: 15px;
      flex-grow: 1;

      }
      .chat-input-container {
        display: flex;
        margin-bottom: 60px;
      }

        .loading-spinner {
        height: 40px;
        margin: -15px;
      }