  .clear-button {
        background-color: rgb(25,135,84);
        color: white;
        border: none;
        padding: 12px 20px;
        margin-left: 10px;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;
      }